{% extends 'layouts/base.html' %}
{% block title %} | Обране {% endblock %}
{% block content %}
{% load static %}
{% include 'layouts/header.html' %}
{% include 'layouts/nav.html' %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Обрані Авто</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li class="active">Обране</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
	{% include 'layouts/messages.html' %}
	<div class="main-title" style="text-align:left !important;">
            <h1>Вітаємо, <span>{{ user.first_name }}</span></h1>
            <p>Тут список авто, які зацікавили Вас раніше</p>
        </div>
	{% if inquiries %}
		<table class="table table-hover">
	  <thead align="center">
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">Назва авто</th>
		  <th scope="col">Місцезнаходження</th>
		  <th scope="col">Ціна</th>
		  <th scope="col">Дія</th>
		</tr>
	  </thead>
	  <tbody align="center">
	  {% for inquiry in inquiries %}
		<tr>
		  <th scope="row">{{inquiry.id}}</th>
		  <td>{{inquiry.car_title}}</td>
		  <td>{{ inquiry.city }}</td>
		  <td>$ {{ inquiry.price }}</td>
		  <td>

			  <form action="{% url 'delete' inquiry.id %}" method="POST">
				  {% csrf_token %}
				  <a href="{% url 'car_detail' inquiry.car_id %}" class="btn btn-outline-dark">Переглянути</a>
				  <input type="submit" value="Видалити" class="btn btn-outline-danger">
			  </form>
		  </td>
		</tr>
	  {% endfor %}
	  </tbody>
	</table>
	{% else %}
		<h4>У вас поки немає обраних авто!</h4>
	{% endif %}

</div>

{% include 'layouts/footer.html' %}
{% endblock content %}