{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
{% include 'layouts/header.html' %}
{% include 'layouts/nav.html' %}
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Будь ласка, зареєструйтесь!</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li class="active">Реєстрація</li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-section">
                    <div class="logo-2">
                        <a href="index.html">
                            <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
                        </a>
                    </div>
                    <h3>Реєстрація</h3>

                    {% include 'layouts/messages.html' %}
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group form-box">
                            <input type="text" name="firstname" class="input-text" placeholder="Ім'я" required>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="lastname" class="input-text" placeholder="Прізвище" required>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="text" name="username" class="input-text" placeholder="Нікнейм" required>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="email" name="email" class="input-text" placeholder="Email" required>
                            <i class="flaticon-mail"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="password" name="password" class="input-text" placeholder="Пароль" required>
                            <i class="flaticon-lock"></i>
                        </div>
                        <div class="form-group form-box">
                            <input type="password"
                                   name="confirm_password"
                                   class="input-text"
                                   placeholder="Повторіть пароль" required>
                            <i class="flaticon-lock"></i>
                        </div>
                        <div class="form-group mb-0 clearfix">
                            <button type="submit" class="btn-md btn-theme float-left">Реєстрація</button>
                        </div>
                        <div class="extra-login clearfix">
                            <span>Або авторизуйтесь за допомогою:</span>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="social-list">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook facebook-i"></i><span>Facebook</span></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google google-i"></i><span>Google</span></a></li>
                        </ul>
                    </form>
                    <p>Вже є аккаунт? <a href="{% url 'login' %}" class="thembo" style="color: red"> Вхід</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'layouts/footer.html' %}
{% endblock content %}