{% load static %}
<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:+380689820001"><i class="fa fa-phone"></i>+380-68-982-0001</a>
                    <a href="e-mail:info@carcenter.com"><i class="fa fa-envelope"></i>info@carcenter.com</a>
                    <a href="{% url 'contacts' %}"><i class="fa fa-clock-o"></i>ПН - НД: 8:00 - 18:00</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    <li>
                        <a href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Вхід</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-user"></i> Реєстрація</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
