{% load static %}
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="{% url 'home' %}">
                <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}"
                        '''{% if '/' == request.path %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %}'''
                        >
                            Головна
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cars' %}"
                            """{% if 'cars' in request.path %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %}"""
                        href="{% url 'cars' %}"
                        >
                            Автомобілі
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}"
                            '''{% if 'about' in request.path %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %}'''
                        >
                            Про Нас
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'news' %}"
                        '''{% if 'news' in request.path %}
                                class="nav-link active"
                            {% else %}
                                class="nav-link"
                            {% endif %}'''
                        >
                            Новини
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a '''{% if 'contacts' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}'''
                        href="{% url 'contacts' %}"
                        >
                            Контакти
                        </a>
                    </li>
                    <li class="nav-item dropdown m-hide">
                        <a href="#full-page-search" class="nav-link h-icon">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>