{% extends 'layouts/base.html' %}
{% block title %} | Новини {% endblock %}
{% block content %}
{% load static %}
<!-- Header + Navigation-->
{% include 'layouts/header.html' %}
{% include 'layouts/nav.html' %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Авто новини</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Головна</a></li>
                <li class="active">Новини</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->


{% include 'layouts/footer.html' %}
{% endblock content %}
